/* global styling ***********************************/
:root {
  --primary-color: #e50914;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica, sans-serif;
  --webkit-font-smoothing: antialiased;
  background: #333;
  color: #999;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4 {
  color: #fff;
}

a {
  color: #fff;
  text-decoration: none;
}

img {
  width: 100%;
}
/* end of global styling *********************************/

/* header section *****************************************/
.showcase {
  width: 100%;
  height: 100vh;
  position: relative;
  background: url(../img/background.jpg) no-repeat center center/cover;
}

.showcase::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.3);
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 0,
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0, 0.8) 100%
  );
}

.showcase-top {
  position: relative;
  height: 90px;
  z-index: 2;
}

.showcase-top img {
  width: 135px;
  position: absolute;
  top: 22%;
  left: 3%;
}

.showcase-top a {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
}

.showcase-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 7rem;
  z-index: 2;
}

.showcase-content h1 {
  max-width: 640px;
  font-weight: bold;
  font-size: 3.2rem;
  margin: 0 120px;
}

.showcase-content h2 {
  color: white;
  font-weight: 400;
  font-size: 1.7rem;
  margin: 25px 155px;
}

.showcase-content p {
  color: white;
  font-weight: 400;
  font-size: 1.2rem;
  margin: 25px 155px;
}

.showcase-content input {
  min-width: 450px;
  min-height: 50px;
  font-size: 1.2rem;
  border: 3px solid #fff;
  border-radius: 3px;
  padding-left: 10px;
}

#tab-1-content .tab-1-content-inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  align-items: center;
  justify-content: center;
  background: black;
  margin-top: 0.5rem;
  padding: 5rem;
}

.tab-1-content-inner h1 {
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

.tab-1-content-inner p {
  font-size: 1.5rem;
  margin-bottom: 1.2rem;
}

#tab-2-content .tab-2-content-inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  align-items: center;
  justify-content: center;
  background: black;
  margin-top: 0.5rem;
  padding: 5rem;
}

.tab-2-content-inner h1 {
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

.tab-2-content-inner p {
  font-size: 1.5rem;
  margin-bottom: 1.2rem;
}

.fas {
  margin: 0 10px;
}

.container {
  max-width: 70%;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}

/* faq section************************************************* */
.faq {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: black;
  margin-top: 0.5rem;
  padding: 2rem;
}

.faq-list {
  width: 80%;
  overflow: hidden;
}

.title {
  margin: 3rem;
}
.title h1 {
  font-size: 3rem;
}

.faq-items {
  display: block;
  background: #333;
  margin: 0.5rem;
  padding: 0.5rem;
}

.faq-items p {
  font-size: 1.5rem;
  padding: 1rem;
  color: whitesmoke;
}

.faq-items i {
  position: absolute;
  right: 180px;
  height: 1rem;
  width: 1rem;
  color: whitesmoke;
}

.end-items {
  margin: 2rem;
  text-align: center;
}

.end-items p {
  margin: 2rem;
  color: whitesmoke;
  font-size: 1.5rem;
}
.end-items input {
  min-width: 450px;
  min-height: 50px;
  font-size: 1.2rem;
  border: 3px solid #fff;
  border-radius: 3px;
  padding-left: 10px;
}

/* buttons ********************************************* */
.btn {
  display: inline-block;
  background: var(--primary-color);
  color: #fff;
  padding: 0.4rem 1.3rem;
  border: none;
  cursor: pointer;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.822);
  border-radius: 3px;
}

.contact__btn {
  min-height: 50px;
  padding-top: 14px;
  text-align: center;
  font-size: 1.2rem;
}

.btn:hover {
  opacity: 0.7;
}

.btn-lg {
  padding: 0.8rem 1.3rem;
  text-transform: uppercase;
}
/* end of buttons *************************************** */

/* footer *********************************************** */

footer {
  margin-top: 0.5rem;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  align-items: center;
  justify-content: center;
  background: black;
  padding: 3rem;
  text-align: left;
}

footer h1 {
  background: black;
  padding: 3rem;
  font-size: 1.5rem;
  color: #999;
  font-weight: 400;
}

/* media query */

@media only screen and (min-width: 550px) and (max-width: 949px) {
  .showcase {
    width: 100vw;
    height: 70vh;
  }

  .showcase-top a {
    right: 5%;
  }
  .showcase-content h1 {
    margin: 0 5px;
  }
  .showcase-content p {
    font-size: 1.5rem;
  }
  form {
    display: grid;
    grid-template-columns: 1fr;
  }

  .contact__btn {
    width: 200px;
    margin: 10px;
    align-items: center;
    margin-left: 30%;
  }
}

@media only screen and (min-width: 350px) and (max-width: 549px) {
  .showcase {
    width: 100vw;
    height: 75vh;
  }

  .showcase-top img {
    width: 100px;
  }

  .showcase-content {
    margin-top: 1rem;
  }
  .showcase-content h1 {
    width: 100%;
    font-size: 1.5rem;
    margin-top: 5rem;
  }
  .showcase-content h2 {
    width: 100%;
    font-size: 1.3rem;
  }

  .showcase-content p {
    width: 90%;
    font-size: 1.2rem;
    margin-top: 0;
  }

  .showcase-top a {
    position: absolute;
    top: 40%;
    right: -8%;
  }

  form {
    width: 80vw;
  }

  .showcase-content input {
    min-width: 300px;
    min-height: 50px;
    font-size: 1.2rem;
  }

  .contact__btn {
    min-width: 150px;
    margin: 10px;
    margin-left: 5%;
  }

  #tab-1-content .tab-1-content-inner {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .tab-1-content-inner h1 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }

  .tab-1-content-inner p {
    font-size: 1.2rem;
    margin-bottom: 1.2rem;
  }

  #tab-2-content .tab-2-content-inner {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .tab-2-content-inner h1 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }

  .tab-2-content-inner p {
    font-size: 1.2rem;
    margin-bottom: 1.2rem;
  }

  .faq h1 {
    font-size: 2rem;
    text-align: center;
  }

  .faq-items {
    width: 100%;
  }

  .faq-items i {
    right: 65px;
  }

  .faq-items p {
    font-size: 1.2rem;
  }

  .end-items input {
    min-width: 300px;
  }

  .footer-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
